@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
*,
*:before,
*:after {
  font-family: "Euclid Circular A", sans-serif !important;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #0a0034;
  width: 100%;
  margin: 0 auto;
}
h1 {
  color: #fafcfd;
  font-size: 3rem;
  font-weight: 500;
}
/* hero sections patterns and lines */
.smallScreenDesign,
.smallScreenPattern {
  display: none;
}
/* hero carousel media queries */

@media (max-width: 560px) {
  h1 {
    font-size: 2.3rem;
  }
  .splide {
    margin: 0 1.5rem !important;
    position: initial;
    max-width: 420px !important;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  .splide {
    margin: 0 1.5rem !important;
    position: initial;
    max-width: 300px !important;
  }
}
@media (max-width: 767px) {
  .design {
    display: none;
  }
  .smallScreenDesign,
  .smallScreenPattern {
    display: block;
  }
  header {
    position: initial !important;
    margin: 0 auto !important;
    /* gap: 2rem; */
    /* margin: 0 1.5rem !important; */
    margin: 0 auto !important;
  }
  /* .splide {
    margin: 0 2rem !important;
    position: initial;;
    max-width: 400px !important;
    width: 100% !important;

    margin: 0 auto !important;
  } */
  /* SPLIDE BUTTONS */
  .btns {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto !important;
  }
  .btns button {
    width: 100% !important;
    position: initial;
  }
  .standard-btn {
    margin: 0 !important;
  }
  .splide__pagination {
    position: initial !important;
  }
  .splide__pagination__page {
    width: 2.5rem !important;
    margin-left: auto !important;
  }
  .splide__pagination {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 940px) {
  .splide__pagination {
    position: absolute !important;
  }
  .splide__pagination__page {
    width: 2.5rem !important;
    margin-left: auto !important;
  }
  .splide__pagination {
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 941px) and (max-width: 1104px) {
  .splide__pagination {
    position: absolute !important;
  }
  .splide__pagination__page {
    width: 3.2rem !important;
    margin-left: auto !important;
  }
  .splide__pagination {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 870px) {
  h1 {
    font-size: 2.5rem;
  }
  .splide {
    margin-left: -3rem !important;
    position: initial;
    max-width: 300px !important;
  }
}
/* @media screen and (min-width: 871px) and (max-width: 1140px) {
  h1 {
    font-size: 2.5rem;
  }
  .splide {
    margin-left: -3rem !important;
    position: initial;
    max-width: 350px !important;
  }
} */
@media screen and (min-width: 871px) and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  .splide {
    margin-left: -3rem !important;
    position: initial;
    max-width: 360px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1104px) {
  h1 {
    font-size: 3rem;
  }
  .splide {
    max-width: 450px !important;
  }
}
@media screen and (min-width: 1105px) and (max-width: 1130px) {
  h1 {
    font-size: 3rem;
  }
  .splide {
    max-width: 450px !important;
  }
  .splide__pagination__page {
    width: 4rem !important;
    margin-left: auto !important;
  }
}
